* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.portfolio-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 1.125rem;
  background: none;
  color: royalblue;
  border: 2px solid royalblue;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  color: white;
  z-index: 1;
}

.portfolio-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #214cce;
  transition: 0.3s;
  z-index: -1;
}

.portfolio-btn:hover::after {
  height: 100%;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(200deg, rgba(171, 171, 171, 0.05) 0%, rgba(171, 171, 171, 0.05) 23%, rgba(90, 90, 90, 0.05) 23%, rgba(90, 90, 90, 0.05) 48%, rgba(65, 65, 65, 0.05) 48%, rgba(65, 65, 65, 0.05) 61%, rgba(232, 232, 232, 0.05) 61%, rgba(232, 232, 232, 0.05) 100%), linear-gradient(126deg, rgba(194, 194, 194, 0.05) 0%, rgba(194, 194, 194, 0.05) 11%, rgba(127, 127, 127, 0.05) 11%, rgba(127, 127, 127, 0.05) 33%, rgba(117, 117, 117, 0.05) 33%, rgba(117, 117, 117, 0.05) 99%, rgba(248, 248, 248, 0.05) 99%, rgba(248, 248, 248, 0.05) 100%), linear-gradient(144deg, rgba(64, 64, 64, 0.05) 0%, rgba(64, 64, 64, 0.05) 33%, rgba(211, 211, 211, 0.05) 33%, rgba(211, 211, 211, 0.05) 50%, rgba(53, 53, 53, 0.05) 50%, rgba(53, 53, 53, 0.05) 75%, rgba(144, 144, 144, 0.05) 75%, rgba(144, 144, 144, 0.05) 100%), linear-gradient(329deg, black, black);
}

.main h1 {
  padding: 10px;
}

.main .calculator__container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .calculator {
  width: 75%;
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1024px) {
  .main .calculator {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.main .calculator .result {
  margin: 20px;
}

.main .calculator .result .bmi-result p {
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
  color: orangered;
}

.main .calculator form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main .calculator .info {
  flex: 1;
  padding: 10px;
}

.main .calculator .info-text {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

.main .calculator .info .active-danger {
  color: red;
  font-weight: bold;
}

.main .calculator .info .active-lightdanger {
  color: orange;
  font-weight: bold;
}

.main .calculator .info .active-good {
  color: green;
  font-weight: bold;
}

.main .calculator .info h1 {
  color: green;
}

.main .calculator .info p {
  letter-spacing: 0.5px;
}

.main .calculator label {
  margin: 10px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.main .calculator .alert {
  color: red;
  font-weight: 600;
}

.main .calculator input {
  text-align: center;
  height: 40px;
  width: 200px;
  font-size: 23px;
  border: none;
  margin-bottom: 25px;
  font-weight: bold;
  background-color: transparent;
  border-bottom: 1px solid gray;
  color: white;
  transition: 0.1s;
}

.main .calculator input.height {
  margin-bottom: 0;
}

.main .calculator input:focus {
  outline: none;
  border-bottom: 3px solid violet;
}

.main .calculator input::-webkit-outer-spin-button,
.main .calculator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main .calculator__btn {
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 2rem;
  transition: 0.3s;
}

.main .calculator__btn:hover {
  background-color: #805300;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  margin: 10px auto;
  width: 100%;
}

.footer-text {
  margin: 3px;
}
